* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* -------------------------header start ------------------------------------*/
header {
    background-color: rgb(210, 110, 110);




}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 30px;
    height: 10vh;
    background-color: rgb(212, 197, 197);
    width: 100%;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.logo {
    font-weight: bolder;
    font-size: 40px;
    color: rgb(0, 2, 62);
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 70px;
    list-style: none;
    text-transform: capitalize;


}


/* -------------------------header End------------------------------------*/
/* -------------------------Main start ------------------------------------*/
main .sechead {
    background-image: url(slider-bg.jpg);
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;



}

.imgtext {
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}


.imgtext2 {
    font-weight: 800;
}

.textonimg {
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 40px 40px;
    color: white;
    gap: 40px;

}

.textimg {
    display: flex;
    padding: 40px 40px;
    color: white;
    gap: 40px;
    flex-direction: column;
    height: 100vh;
    justify-content: center;


}

.imgbutton button {
    height: 30px;
    width: 100px;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 750;
    color: rgb(17, 14, 14);



}

.imgbutton {
    display: flex;
    gap: 20px;
}

.icons {
    color: black;
    gap: 50px;
}

.con {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgb(214, 205, 222);
}

.aboutbtn {
    background-color: rgb(214, 205, 222);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

nav {
    display: flex;
    gap: 20px;
    font-size: 20px;

}




.fa-bars {
    display: none !important;
}

/* responsive design */

.secmid {
    display: flex;
    background-color: gainsboro;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;

}


.servicesinfo {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 150px;
    padding: 10px;
    width: 20%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}




.servicesicon i {
    font-size: 30px;
    display: flex;
    align-items: end;
    color: rgb(55, 105, 28);



}


.fa-cc-paypal {
    height: 30px;
}


.about {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;



}

.aboutsec {
    background-color: gainsboro;
    height: 300px;
    width: 300px;
    margin: 20px;
    display: flex;
    align-items: start;

}

.imgbox1 {
    height: 250px;
    width: 300px;


}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.aboutsec2 {
    background-color: gainsboro;
    height: 300px;
    width: 300px;
    margin-top: 50px;
    display: flex;
    align-items: end;
}

.imgbox2 {
    height: 250px;
    width: 300px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.abouttext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    gap: 40px;
    width: 600px;
}

.abouttext h4 {
    font-weight: 200;
}

.abouttextbtn button {
    background-color: #8019C8;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.watchcontainer {
    background-color: #dfdbdb;
    margin-top: 30px;




}


.saleinfobox {
    width: 40%;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;





}

.salestext {
    background-color: #008211;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border-radius: 20px;

}

.watchboxes {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #dbdbdb;
    padding: 20px 0px;


}

.watchbox1 {
    height: 250px;
    width: 250px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;





}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgwatch1 {
    height: 150px;
    width: 120px;


}

.watchbox2 {
    height: 250px;
    width: 250px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;




}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgwatch2 {
    height: 150px;
    width: 120px;

}


.watchbox3 {
    height: 250px;
    width: 250px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;




}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgwatch3 {
    height: 150px;
    width: 120px;

}

.watchcontainer2 {
    margin-top: 30px;
    background-color: #dfdbdb;



}

.productinfo {
    width: 40%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}






.productinfotext {
    background-color: #008211;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border-radius: 20px;


}


.watchboxes2 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #dbdbdb;
    padding: 20px 0px;


}




.imgwatch4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgwatch4 {
    height: 200px;
    width: 120px;

}

.watchbox4 {
    height: 270px;
    width: 270px;
    background-color: rgba(255, 255, 255, 0.927);
    display: flex;
    align-items: center;
    justify-content: center;




}


.imgwatch5 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgwatch5 {
    height: 150px;
    width: 120px;

}

.watchbox5 {
    height: 270px;
    width: 270px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgwatch6 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgwatch6 {
    height: 150px;
    width: 120px;

}

.watchbox6 {
    height: 270px;
    width: 270px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}




.aboutword {
    display: flex;
    gap: 10px;

}



.watchcontainer3 {
    margin-top: 30px;
    background-color: #dbdbdb;

}

.infonew {
    width: 40%;
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;

}


.newinfo {
    background-color: #008211;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}

.watchboxes3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #dbdbdb;
    padding: 20px 0px;

}



.watchboxnew1 {
    height: 270px;
    width: 270px;
    background-color: rgb(254, 254, 254);
    display: flex;
    align-items: center;
    justify-content: center;

}

.imgwatch7 {
    height: 170px;
    width: 120px;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.watchboxnew2 {
    height: 270px;
    width: 270px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}


.imgwatch8 {
    height: 150px;
    width: 120px;
}

.imgwatch8 img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.watchboxnew3 {
    height: 270px;
    width: 270px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;


}

.imgwatch9 {
    height: 150px;
    width: 120px;

}

.imgwatch9 img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.contact {
    background-color: #cbcbcb;
    display: flex;
    justify-content: center;


}

form {
    width: 80%;
    max-width: 600px;
    padding-top: 50px;

}

.input-group {
    margin-bottom: 30px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 3px solid rgb(0, 0, 0);
    font-size: 15px;
    background-color: rgb(185, 173, 173);
}


::placeholder {
    color: white;
    text-transform: capitalize;
}

button {
    margin-top: 15px;
    padding: 10px 0px;
    color: #ffffff;
    background-color: #8019C8;
    width: 100%;
    cursor: pointer;
    font-size: 15px;
    text-transform: capitalize;
    border-radius: 20px;


}

button:hover {
    background-color: #a66fd0;
    transition: 0.5s;
    color: black;
}


.contacttext {
    display: flex;
    text-transform: capitalize;
    color: white;
    font-weight: bold;
    font-size: 35px;
    height: 100px;
    justify-content: center;
}

.icons {
    display: flex;
    justify-content: center;
}

/* ------------------------main end ------------------------------------*/
/* -------------------------footer start ------------------------------------*/

footer {
    background-color: rgb(37, 50, 66);
    color: white;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}





.foothead h2{
    border-bottom: 3px solid black;
    width: 80vh;
    display: flex;
    justify-content: center;
    height: 13vh;
    align-items: center;
}


.footcontainer{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 20px 0px;
    gap: 50px;
    align-items: start;

   
}


.footabout{
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-transform: capitalize;
}

.footabout h2{
    width: 100%;
    display: flex;
    justify-content:center;

}

.foottext1{
    height: 150px;
    width: 150px;
    gap: 18px;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 23px;
    text-transform: capitalize;


}

.foottext1 h6{
    display: flex;
    justify-content: left;
}




.foottext1 i{
    width: 30px;
}

.footinfo{
    height: 200px;
    width: 200px;
}

.footinfo p{
    height: 60%;
    text-align: center;
    display: flex;
    align-items: center;
}


.footinfo h2{
    text-align: center;
    text-transform: capitalize;
}


.footimg h2{
    height: 40px;
    width: 200px;
    
}

.allfootimg{
    width: 250px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}

.footimg{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
}
.footimg h2{
    display: flex;
    align-items: start;
    
}

.minibox{
    height: 95px;
    width:75px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.minibox img{
    height: 70%;
    width: 70%;
    object-fit: cover;

}

.footnews{
    width:35vh;
    height:240px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.footnews button{
    width: 150px;
    
}



/* ------------------------ footer end------------------------------------*/


/* -------------------------Responsive design start------------------------------------*/

@media only screen and (max-width:1050px) {
   .footcontainer{
    width:85%;
     
   }
}

@media only screen and (max-width:920px) {
    .footcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    }

    .footimg h2{
        display: flex;
        align-items: start;
        justify-content: center;
        height: 70px;
        
    }

    .footnews h2{
        display: flex;
        justify-content: center;

    }

    .footnews{
      align-items: center;
      display: flex;
     
      justify-content: center;
    }

    .footnews .btn{
        display: flex;
        justify-content:start;
        width: 230px;
    
    
       
    }
 }







@media only screen and (max-width:1293px) {
    .secmid {
        justify-content: center;
    }
}

@media only screen and (max-width:1060px) {

    nav ul {
        display: none;
    }

    nav .fa-bars {
        display: block !important;
    }

    .saleinfobox {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0px;
    }
}

@media only screen and (max-width:600px) {
    .foothead h2{
        border-bottom: underline;
        width: 40vh;
    }
}

@media only screen and (max-width:900px) {
    .logo {
        font-size: 25px;

    }

}

@media only screen and (max-width:854px) {

    .headerbottom {
        justify-content: center;
    }
}

@media only screen and (max-width:977px) {
    .secmid {
        justify-content: center;
        align-items: center;
        border-radius: 20px solid black;
        flex-direction: column;
    }

    .servicesinfo {
        height: 200px;
        width: 60%;
    }

}

@media only screen and (max-width:500px) {
    .form {
        width: 70%;

    }

}



@media only screen and (max-width:375px) {
    .icons2 {
        display: flex;
        height: 150px;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 20px;

    }

}


@media only screen and (max-width:760px) {
    .productinfo {
        justify-content: center;
        width: 100%;

    }

    .saleinfobox {
        justify-content: center;
        width: 100%;

    }

    .infonew {
        justify-content: center;
        width: 100%;
    }

}


/* -----------------responsive design end--------------- */